<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('partials/_head')%>
  </head>
  <body>
  <%- include('partials/_nav')%>
    <div class="container-fluid">
      <main>
        <form action="/search" method="POST">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
              <div class="input-group">
                <input id="search" type="text" name="search"  class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" value="Submit" type="submit">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

          <!-- BEGIN delete this code in the event of merge conflict -->
          <table class="todo_entries">
            <th> screw this header </th>

            <% for (var item of todo_items) { %>
              <tr>
                <td> <%= item.todo_item_id %> </td>
                <td> <%= item.name %> </td>
                <td> <%= item.category %> </td>
              </tr>
            <% } %>


          </table>
          <!-- END delete this code in the event of merge conflict -->


        </form>
      </main>
    </div>
  </body>
</html>
