<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smartest Todo</title>
    <%- include('partials/_head')%>
  </head>
  <body>
  <%- include('partials/_nav')%>
    <div class="container-fluid">
      <main>

        <%- include('partials/_search')%>
        <form>
          <div class="container-fluid">
            <div class="row">
              <table class="todolist-main col-xs-12 col-sm-8 col-sm-offset-2">
                <tr class="main-todo-header">
                  <th></th>
                  <th>Todos</th>
                  <th>Category</th>
                  <th>Source</th>


                </tr>
                <% for (var item of todo_items) { %>
                  <tr class="hovering">
                  <td> <input type="checkbox" id="cbox1" value="first_checkbox"> </td>
                    <td> <%= item.name %> </td>
                    <td> <%= item.category %> </td>

                    <td> <%= item.source %> </td>

                  </tr>
                <% } %>
              </table>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </form>
      </main>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
